<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <!--<configSections>
    </configSections>
    <connectionStrings>
        <add name="Konves.Text.BibleReference.Properties.Settings.VerseDataConnectionString"
            connectionString="Data Source=|DataDirectory|\Data\VerseData.sdf"
            providerName="Microsoft.SqlServerCe.Client.3.5" />
    </connectionStrings>-->
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Konves.Text.BibleReference.Properties.Settings.VerseDataConnectionString"
            connectionString="Data Source=|DataDirectory|\VerseData.sdf"
            providerName="Microsoft.SqlServerCe.Client.3.5" />
    </connectionStrings>
</configuration>